@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400");
body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

/*****************************************/
/* INFORMATION HEADER                    */
/* Media query                           */
/*****************************************/

.header-wrapper {
  display: flex;
  background: white;
  padding: 9px;
  box-sizing: border-box;
  color: #999;
}

.header-wrapper > * {
  position: relative;
}

.header-wrapper > div.spedizione {
  flex-flow: row wrap;
  margin-left: auto;
}

.header-wrapper > *,
.header-wrapper > div.spedizione > div {
  display: flex;
  flex-flow: column wrap;
  padding: 2px;
}

.header-wrapper h1 {
  margin: auto;
  font-size: 1em;
  font-weight: 200;
}

@media screen and (max-width: 1080px) {
  .header-wrapper h1 {
    display: none;
  }
}

.header-wrapper .titolo {
  font-size: 11px;
  margin-right: 10px;
}

.material-icons {
  font-size: 18px !important;
  margin-right: 4px;
  color: black;
}

.spedizione .material-icons {
  font-size: 40px !important;
  padding-right: 11px;
}

.header-wrapper > div > a {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-decoration: none !important;
}

.header-wrapper > div > span {
  display: flex;
  align-items: center;
}

.header-wrapper .dato {
  font-size: 14px;
  margin-top: 2px;
}

.header-wrapper .spedizione {
  align-items: center;
}
@media screen and (max-width: 730px) {
  .header-wrapper .spedizione {
    display: none !important;
  }
}

.header-wrapper .spedizione .grande {
  font-size: 15px;
  font-weight: 700;
}

.header-wrapper .spedizione .piccolo {
  font-size: 11px;
}

.header-wrapper .separatore {
  border-right: 1px dashed silver;
  margin: 0 10px;
  padding: 0px;
}

.header-wrapper a {
  text-decoration: none;
  color: #999;
}

@media screen and (max-width: 500px) {
  .header-wrapper .ico_top3,
.header-wrapper .sep2 {
    display: none !important;
  }
}

/*****************************************/
/* REASSURANCES                          */
/* Media query                           */
/*****************************************/
.reassurances {
  display: flex;
  flex-flow: row wrap;
  background: white;
  padding: 20px;
  justify-content: center;
}

.reassurances > div {
  display: flex;
  padding: 5px 20px;
  flex: 1;
}
@media screen and (max-width: 1070px) {
  .reassurances > div {
    min-width: 50%;
  }
}

.reassurances > div:not(:last-child) {
  border-right: 1px solid #ebe9e9;
}

@media screen and (max-width: 1070px) {
  .reassurances > div {
    justify-content: center;
  }

  .reassurances > div:nth-child(2) {
    border-right: initial;
  }
}
.reassurances .col1 {
  display: flex;
  align-items: center;
  padding: 0 15px 0 0;
}

.reassurances .col2 {
  flex-flow: column wrap;
  display: flex;
}

.reassurances .titolo {
  font-family: "Pacifico", cursive;
  color: #B90900;
  font-size: 19px;
  white-space: nowrap;
}

.reassurances .dato {
  font-family: "Merriweather Sans", sans-serif;
  color: #3C3C3C;
  font-size: 13px;
}

.reassurances .material-icons {
  font-size: 34px !important;
}

/*# sourceMappingURL=style.css.map */
