@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Comfortaa:400,700');


body{
  margin:0px;
  padding:20px;
  font-family: 'Roboto', sans-serif;
}

.header-wrapper{
  display:flex;
  flex-flow:row wrap;
  background:#B80A00;
  box-sizing:border-box;
  padding: 10px;
}
.header-wrapper > div{
  display:flex;
  flex-flow:column;
  padding-right: 10px;
}
.header-wrapper > div a{
 color:#fff;
 text-decoration: none;
}
.header-wrapper h1{
  font-size: 13px;
  max-width:400px;
  font-style: italic;
  font-weight:100;
  align-self:center;
  margin: auto;
  color: #fff;
}
.ico_top4 {
  display:flex;
  flex-flow:column wrap;

}
.spedizione{
  margin-left:auto;
}
#top_text div{
  padding: 0px!;
}
.header-wrapper > div:last-child{
  padding:0px;
}
.material-icons {
    font-size: 13px!important;
    padding-right: 5px;
    top:2px;
    position: relative;

}
.header-wrapper .sep1, .header-wrapper .sep2 {
    border-left: 1px dashed white;
}
.header-wrapper span.dato {
    padding-left: 0px;
    font-size: 11px;
    font-weight: 100;
    padding-top: 3px;
}
.header-wrapper span {
    padding-left: 0px;
    position: relative;
    font-size: 12px;
    color: #fff;
}